<h4>Vous allez supprimer la publication</h4>
<strong>{{ publication.titre }}</strong>
<p>Cette publication n'apparaîtra plus sur le site du CReSTIC et sur les pages des co-auteurs. Etes vous sûr ? </p>