<div class="row">
	<div class="col-sm-12">
		{{ form_row(form.abbrevCompany) }}
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.ville) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.numero) }}
	</div>
</div>

