<table class="table">
	<tr>
		<th style="width:90%">Publication</th>
		<th></th>
	</tr>
	{% for publication in publications %}
		<tr>
			<td>{{ publication.titre }}</td>
			<td>
				<a href="{{ path('utilisateur_demande-om_show', { 'id': publication.id }) }}" class="btn
						btn-info"
				   title="Voir"><i class="fa fa-eye"></i> </a>
				<a href="{{ path('utilisateur_demande-om_edit', { 'id': publication.id }) }}" class="btn
                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
			</td>
		</tr>
	{% endfor %}
</table>