{% for financeur in financeurs %}
    <div class="col-sm-3"  style="text-align: center">
        <a href="{{ financeur.financeur.url }}" target="_blank"><img src="{{ asset('uploads/partenaires/'~financeur.financeur.image)|imagine_filter('partenaire')  }}" alt="logo" /><br>
            {% if financeur.financeur.internationale == true %}<span class="fa fa-globe"></span> {% endif %}{{ financeur.financeur.nom }}
        </a>
    </div>
{% endfor %}