{% extends "::base.html.twig" %}

{% block title %}AppBundle:PublicActualites:index{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<div class="heading mb20">
				<h2>
					{{ 'agenda.crestic'|trans }}
				</h2>
			</div>
		</div>
	</div>
{% endblock %}
