{% extends '::base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<div class="heading mb20">
				<h2>
					{{ 'publications'|trans }}
				</h2>
			</div>
		</div>
	</div>
{% endblock %}