<div class="row">
	<div class="col-sm-9" style="text-align: right" >
		<a href="{{ path('responsable_'~var~'_index') }}">Retour à la liste</a>
	</div>
	<div class="col-sm-3" style="text-align: right" >
		<a href="{{ path('responsable_'~var~'_edit', { 'id': obj }) }}" class="btn
            btn-warning btn-block">Modifier</a>
	</div>
</div>